/* 购物车页面 */
body{
	background-color: #fff;
}
.mui-content{
	background-color: #fff;
}
.mui-off-canvas-wrap .mui-inner-wrap{
	height: calc(100% - 184px);
}
.order_total{
	height: 70px;
	border: 1px solid #F1F1F1;
	display: flex;
	align-items: center;
	padding: 0 15px;
	background-color: #fff;
	justify-content: space-between;
}
.order_total .submit_btn{
	height: 43px;
	line-height: 43px;
	text-align: center;
	background: #3B4656;
	border-radius: 6px 6px 6px 6px;
	color: #fff;
	min-width: 121px;
}
.order_total .total_value{
	font-size: 14px;
	color: #000;
}
.order_total .total_price{
	font-size: 20px;
	color: #F42F54;
}
.order_total .order_detail .tip{
	color: #999999;
	font-size: 10px;
}

.sheinOrder{
	background: #F6F6F6;
	border-radius: 8px 8px 8px 8px;
	padding: 24px 16px;
	width: calc(100% - 32px);
	margin: 10px auto;
}
.mui-input-row label{
	width: 100%;
}
.sheinOrder .input-con{
	height: 52px;
	padding-left:16px;
	padding-right:16px;
	clear: both;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
	width: 100%;
	background-color: #fff;
	height: 100%;
}

/* 购物车列表 */
.car_list .car_item{
	display: flex;
	padding: 10px 0;
}
.car_list .car_item .productImg{
	width: 98px;
	height: 98px;
	overflow: hidden;
	background-color: #F8F8F8;
}
.car_list .car_item .products{
	display: flex;
	align-items: center;
	width: calc(100% - 40px);
	gap: 10px;
	padding: 10px 0;
	border-bottom: 1px solid #E7E7E7;
}
.car_list .mui-checkbox{
	width: 40px;
	height: 40px;
}
.car_list .mui-checkbox input[type=checkbox]{
	left: 0;
}
.car_list .car_item .detail{
	width: calc(100% - 98px);
}
.car_list .car_item .detail .caozuo{
	display: flex;
	align-items: baseline;
	gap: 10px;
	justify-content: space-between;
	margin-top: 30px;
}
.car_list .car_item .detail .props{
	font-size: 13px;
	color: #999999;
	margin-top: 10px;
}
.car_list .car_item .detail .caozuo .price{
	color: #F42F54;
	font-size: 13px;
}
.car_list .car_item .productImg img{
	width: 100%;
	object-fit: contain;
	display: block;
	aspect-ratio: 1 / 1;
}

.mui-numbox{
	height: 26px;
	border: 0;
	background-color:#fff;
	border-radius: 0;
	padding:0 28px;
	width: 104px;
}
.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn]{
	width: 26px;
	height: 26px;
	background-color: #F8F8F8;
}
.mui-numbox .mui-input-numbox, .mui-numbox .mui-numbox-input{
	border-left: 0!important;
	border-right: 0!important;
	background-color: #F8F8F8;
}